<h3> New Lesson </h3>
<%= form_for @lesson do |f| %>
  <%= f.label "Name: "%>
  <%= f.text_field :name %>
  <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %>
  <%= f.submit %>
<% end %>
  